:root {
   --font: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
*{
  font-family: var(--font);
   margin: 0;
   padding: 0;
   
}

#cabecera {
   background-image:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url(assets/imagenes/arrozPortada.jpeg);
   background-size: cover; 
   background-position: center;
   height: 600px;
   color: white;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   
   font-size: 30px;
}

main > section {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: space-between;
}
.columnas {
   flex-basis: 30%;
   box-sizing: border-box;
   padding: 15px;
   
}
@media (max-width: 560px) {
   .columnas {
   flex-basis: auto;
   box-sizing: border-box;
   padding: 15px;
   }
}



#sobreNosotros > h3 {
   
   background-image:  url(assets/imagenes/josecurrando.jpeg) ;
   background-size: cover;
   background-position:center 80%;
   height: 100px;
   
   font-size: 30px;
   color:  white;
   text-align:center;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   animation: moverFondo 4s ease forwards;
}

#arroces > h3{
   
   background-image:  url(assets/imagenes/arroz.jpeg) ;
   background-size: cover;
   background-position:center;
   height: 100px;
   animation: moverFondo 4s ease forwards;
   font-size: 30px;
   color:  white;
   text-align: center;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
#menu > h3 {
   background-image:  url(assets/imagenes/menu.jpeg) ;
   background-size: cover;
   background-position:center;
   height: 100px;
   animation: moverFondo 4s ease forwards;
   font-size: 30px;
   color: white;
   text-align: center;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
#reservas >h3{
   background-image:  url(assets/imagenes/colas.jpeg) ;
   background-size: cover;
   background-position:center;
   height: 100px;
   animation: moverFondo 4s ease forwards;
   font-size: 30px;
   color: white;
   text-align: center;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
#reservas > p > a {
   color: inherit;
   text-decoration: none;
}
#horario >h3{
   background-image:  url(assets/imagenes/joseee.jpeg) ;
   background-size: cover;
   background-position:center 80%;
   height: 100px;
   animation: moverFondo 4s ease forwards;
   font-size: 30px;
   color: white;
   text-align: center;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
#catering >h3 {
   background-image:  url(assets/imagenes/catering.jpeg) ;
   background-size: cover;
   background-position:center;
   height: 100px;
   animation: moverFondo 4s ease forwards;
   font-size: 30px;
   color: white;
   text-align: center;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

main {
   padding: 15px;
   background-image: url(assets/imagenes/posiblebody.png);

}

main > section > article > p {
   padding: 15px;
   color: black;
   font-size: 20px;
   font-weight: bold ;
   text-align: center;
}
#localizacion{
   padding-bottom: 5%;
}
#localizacion > iframe {
   border-radius: 20px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 1.2);
   float: right;
  
}
.footer {
  margin-top: 10px;

  
   background: #ad9253;
   background: linear-gradient(177deg,rgba(173, 146, 83, 1) 0%, rgba(255, 224, 156, 1) 100%);
   font-size: 20px;
   flex-basis: 50%;
   padding-top: 2%;
   padding-left: 5%;
   padding-right: 5%;
   padding-bottom: 2%;
   color: white;
   }
 .footer > article> ul > li >a {
   font-weight: bold;
   color: white;
   text-decoration: none;
 }
footer > section > div {
   color: white;
   padding-top: 1%;
   
}
main > section > article > p {
   background-color: rgba(255, 255, 255, 0.9); 
  padding: 20px;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 5.5);
}
main > section > article > p:hover, main > section > article > p:active{
   background-color: rgb(179, 163, 95);
}
h1, h2{
   transition: text-shadow 1.0s ease;
}
   

h1:hover, h2:hover{
   text-shadow: 4px 4px 5px rgba(0, 0, 0, 5.3);
}
@keyframes moverFondo {
   from {
   background-position: top;
   }

to {
   background-position: center;
}
}

